.flex-column {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garantir que ocupe toda a altura da viewport */
}

.header{
    height: 10%;
}

.content {
height: 80%;
width: 100%;
display: flex;
background-color: aqua;
justify-content: center;
align-items: center;
}

.footer {
    height: 10%;
}