.div-card{
    width: 50%;
    height: 40vh;
    min-width: 400px;
    margin: auto;
    padding: 1em;
}

mat-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

mat-card-content .login{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

mat-card-content .password{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttons .log-button{
    background-color: rgb(69, 112, 192);
}


.buttons .reg-button{
    color: rgb(69, 112, 192);
}


